<div class="container">
  <h5 align="center">Log In</h5>
   <form action="/login" method="POST">
    <div class="row">
      <div class="six columns">
        <label for="email">Email</label>
        <input class="u-full-width" type="text" name="user[email]" placeholder="ebachmann@piedpiper.com" id="email-login">
      </div>
      <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" name="user[password]" id="password-login">
      </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
  </form>
  <hr>
  <h5 align="center">Sign Up</h5>
  <form action="/users" method="POST">
    <div class="row">
      <div class="six columns">
        <label for="username">Username</label>
        <input class="u-full-width" type="text" name="user[username]" placeholder="@middleout" id="username-signup">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="email">Email</label>
        <input class="u-full-width" type="text" name="user[email]" placeholder="ebachmann@piedpiper.com" id="email-signup">
      </div>
      <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" name="user[password]" id="password-signup">
      </div>
    </div>
    <input class="button-primary" type="submit" value="Submit">
  </form>
</div>
